*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background: rgba(29, 29, 204, 0.842);
    text-align: center;
}

main {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    height: 400px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    flex-direction: column;
    background: rgb(45, 165, 165);
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid white;
    color: aliceblue;
    justify-content: center;
    align-content: center;
}

h1{
    font-size: 40px;
}


#game-canvas {
    background: 
        white
        url('../backgrounds/background-2.png')
        center center / cover
        no-repeat
        fixed;
}

footer{
    border-top: 1px solid white;
    width: 100%;
    padding: 10px;
    background: rgb(45, 165, 165);
    display: fixed;
}

a {
    font-size: 40px;
    text-decoration: none;
    color: #FAFAFA;
    
}



@media screen and (max-width: 500px) {
    header{
        display: hidden;
    }
    footer{
        display: hidden;
    }

    #game-canvas{
        width: 100%;
        height: auto;
    }
}