*{
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;

}

#game-canvas {
    width: 66%;
    border: 3px solid red;
}