*{
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background: blue;
    text-align: center;
  }

  main {
    flex: 1 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

header{
    flex-direction: column;
    background: aqua;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid white;
    justify-content: center;
    align-content: center;
}



#game-canvas {
    border: 3px solid red;
    background: 
        white
        url('../backgrounds/background-2.png')
        center center / cover
        no-repeat
        fixed;
}

footer{
    border-top: 1px solid white;
    width: 100%;
}



@media screen and (max-width: 500px) {
    header{
        display: hidden;
    }
    footer{
        display: hidden;
    }

    #game-canvas{
        width: 100%;
        height: auto;
    }
}